@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

body {
  color: #3D3D3D;
}

.noto-serif-jp-regular {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-jp-bold {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3D3D3D;
}

li {
  list-style: none;
}

.container {
  max-width: 880px;
  margin-inline: auto;
}

.section-title {
  display: table;
  padding-inline: 56px;
  margin-inline: auto;
  font-size: 32px;
  text-align: center;
  position: relative;
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
    padding-inline: 0;
  }
}
.section-title::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #3D3D3D;
}
@media (max-width: 768px) {
  .section-title::before {
    width: 30%;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.section-title span {
  background-color: white;
  position: relative;
  padding-inline: 40px;
}
@media (max-width: 768px) {
  .section-title span {
    padding-inline: 0;
  }
}

header {
  background-color: #F9F7F0;
  width: 100%;
  height: 80px;
  padding-inline: 4%;
  position: fixed;
  z-index: 10;
  box-shadow: 0px -1px 13px 4px rgba(17, 17, 26, 0.07);
}
header .header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header h1 img {
  height: 60px;
}
header .header nav {
  display: block;
}
@media (max-width: 960px) {
  header .header nav {
    display: none;
  }
  .open header .header nav {
    display: block;
  }
}
header .header nav ul {
  background-color: white;
  display: flex;
  border-radius: 50px;
  padding-inline: 24px;
  height: 40px;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 960px) {
  .open header .header nav ul {
    flex-direction: column;
    background-color: transparent;
    height: auto;
    padding-top: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
header .header nav ul li {
  font-size: 16px;
}
header .header nav ul li a {
  height: 40px;
  line-height: 40px;
  transition: all 0.5s;
  position: relative;
}
header .header nav ul li a::before {
  content: "";
  height: 2px;
  width: 0%;
  background: #e49d3b;
  position: absolute;
  bottom: -5px;
  left: 10%;
  transition: 0.3s;
}
header .header nav ul li a:hover::before {
  width: 80%;
}
header .header nav ul li a::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #e49d3b;
  position: absolute;
  bottom: -8px;
  left: 10%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}
header .header nav ul li a:hover::after {
  left: 90%;
  opacity: 1;
}
header .header .mask {
  display: none;
}
@media (max-width: 960px) {
  header .header .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(249, 247, 240, 0.9294117647);
    cursor: pointer;
  }
  .open header .header .mask {
    display: block;
  }
}
header .header .toggle-btn {
  width: 40px;
  height: 40px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  display: none;
}
header .header .toggle-btn:hover {
  opacity: 0.7;
}
@media (max-width: 960px) {
  header .header .toggle-btn {
    display: block;
  }
}
header .header .toggle-btn span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  background-color: #3D3D3D;
  transition: all 0.5s;
}
header .header .toggle-btn span:nth-child(1) {
  top: 25%;
}
.open header .header .toggle-btn span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}
header .header .toggle-btn span:nth-child(2) {
  top: 50%;
}
.open header .header .toggle-btn span:nth-child(2) {
  opacity: 0;
}
header .header .toggle-btn span:nth-child(3) {
  top: 75%;
}
.open header .header .toggle-btn span:nth-child(3) {
  top: 50%;
  transform: rotate(45deg);
}

footer {
  background-color: #F9F7F0;
}
footer .footer {
  padding-block: 24px;
  padding-inline: 4%;
}
footer .footer a img {
  width: 200px;
}
footer .footer ul {
  display: flex;
  justify-content: space-between;
  margin-block: 24px;
}
@media (max-width: 768px) {
  footer .footer ul {
    flex-direction: column;
  }
}
footer .footer ul li {
  border-left: 1px solid #3D3D3D;
  width: 25%;
  text-align: center;
}
@media (max-width: 768px) {
  footer .footer ul li {
    width: 50%;
    text-align: left;
    border: none;
    list-style: disc;
    margin-left: 20%;
  }
}
footer .footer ul li:last-child {
  border-right: 1px solid #3D3D3D;
}
@media (max-width: 768px) {
  footer .footer ul li:last-child {
    border: none;
  }
}
footer p {
  text-align: center;
  font-size: 14px;
  padding-bottom: 8px;
}

#about {
  padding-block: 120px;
}
@media (max-width: 768px) {
  #about {
    padding-block: 64px;
  }
}
#about .about-contents li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 65px 40px;
}
@media (max-width: 960px) {
  #about .about-contents li {
    flex-direction: column;
  }
}
#about .about-contents .fadein {
  opacity: 0;
  transition: all 1s;
  transform: translateY(30px);
}
@media (max-width: 960px) {
  #about .about-contents .revers {
    flex-direction: column-reverse;
  }
}
#about .about-contents img {
  width: 400px;
  height: auto;
}
#about .about-contents .about-text {
  text-align: center;
  padding: 48px;
}
@media (max-width: 960px) {
  #about .about-contents .about-text {
    width: 75%;
  }
}
@media (max-width: 768px) {
  #about .about-contents .about-text {
    width: 80%;
  }
}
#about .about-contents .about-text .about-text-title {
  font-size: 24px;
  padding-bottom: 32px;
}
@media (max-width: 768px) {
  #about .about-contents .about-text .about-text-title {
    font-size: 20px;
  }
}
#about .about-contents .about-text .about-text-title .about-text-content {
  font-size: 16px;
}
#about .about-contents .family {
  background-image: url(../img/家族背景.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#about .about-contents .walk {
  background-image: url(../img/散歩背景.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#about .about-contents .meal {
  background-image: url(../img/食事背景.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#about .about-contents .meal .about-text-content {
  padding-bottom: 40px;
}

#introduction {
  width: 100%;
  padding-bottom: 80px;
  background-color: #DAEED6;
  position: relative;
}
#introduction::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  border-bottom: 80px solid #DAEED6;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}
#introduction .introduction {
  padding-top: 80px;
}
#introduction .introduction h2 span {
  background-color: #DAEED6;
}
#introduction .introduction .introduction-contents {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  max-width: 650px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  #introduction .introduction .introduction-contents {
    grid-template-columns: none;
  }
}
#introduction .introduction .introduction-contents .fadein {
  width: 100%;
  background-color: white;
  border-radius: 40px;
  opacity: 0;
  transition: all 1s;
  transform: translateY(30px);
}
@media (max-width: 768px) {
  #introduction .introduction .introduction-contents .fadein {
    width: 80%;
    margin-inline: auto;
  }
}
#introduction .introduction .introduction-contents .fadein a {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 6px rgba(17, 17, 26, 0.18);
}
#introduction .introduction .introduction-contents .fadein a:hover {
  opacity: 0.5;
}
#introduction .introduction .introduction-contents .fadein a .introduction-content img {
  border-radius: 40px 40px 0 0;
  height: 200px;
}
@media (max-width: 768px) {
  #introduction .introduction .introduction-contents .fadein a .introduction-content img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#introduction .introduction .introduction-contents .fadein a .introduction-content .introduction-text {
  padding-inline: 24px;
  padding-bottom: 24px;
}
#introduction .introduction .introduction-contents .fadein a .introduction-content .introduction-text h3 {
  font-size: 20px;
  text-align: center;
  margin-block: 24px;
}
#introduction .introduction .introduction-contents .fadein a .introduction-content .introduction-text p {
  font-size: 14px;
}

main .mv-box {
  padding-top: 80px;
}
main .mv-box .mv {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(../img/mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}
@media (max-width: 1080px) {
  main .mv-box .mv {
    background-position: center;
  }
}
@media (max-width: 960px) {
  main .mv-box .mv {
    background-position: right;
  }
}
@media (max-width: 768px) {
  main .mv-box .mv {
    height: 200px;
  }
}
main .mv-box .mv-text {
  position: absolute;
  top: 20%;
  left: 10%;
}
@media (max-width: 768px) {
  main .mv-box .mv-text {
    position: static;
    text-align: center;
    padding: 10% 5%;
  }
}
main .mv-box .mv-text .pc-message {
  display: block;
  font-size: 40px;
  padding-bottom: 24px;
}
@media (max-width: 960px) {
  main .mv-box .mv-text .pc-message {
    display: none;
  }
}
main .mv-box .mv-text .tab-message {
  display: none;
}
@media (max-width: 960px) {
  main .mv-box .mv-text .tab-message {
    font-size: 32px;
    display: block;
  }
}
@media (max-width: 768px) {
  main .mv-box .mv-text .tab-message {
    font-size: 24px;
  }
}
main .mv-box .mv-text .noto-serif-jp-regular {
  font-size: 24px;
}
@media (max-width: 960px) {
  main .mv-box .mv-text .noto-serif-jp-regular {
    font-size: 16px;
  }
}
main .mv-box .mv-text .noto-serif-jp-regular p {
  padding-bottom: 24px;
}
@media (max-width: 960px) {
  main .mv-box .mv-text .noto-serif-jp-regular p {
    padding-bottom: 16px;
  }
}
main .mv-box .mv-text .noto-serif-jp-regular a {
  width: 432px;
  display: inline-block;
  background-color: #e6b05f;
  border-radius: 50px;
  text-align: center;
  padding-block: 8px;
  transition: 0.5s;
  box-shadow: 0px -1px 13px 4px rgba(17, 17, 26, 0.07);
}
@media (max-width: 960px) {
  main .mv-box .mv-text .noto-serif-jp-regular a {
    width: 300px;
  }
}
@media (max-width: 768px) {
  main .mv-box .mv-text .noto-serif-jp-regular a {
    width: 100%;
  }
}
main .mv-box .mv-text .noto-serif-jp-regular a:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  main .mv-box .mv-text .noto-serif-jp-regular a:hover {
    transform: scale(1);
    background-color: #F9F7F0;
    outline: 2px solid #e6b05f;
    outline-offset: -2px;
  }
}
main .slick {
  background-image: url(../img/背景画像.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 100px;
}
main .slick .slide-items li {
  width: 250px;
  height: 250px;
  padding-right: 20px;
}
main .slick .slide-items li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.news {
  background-color: #F9F7F0;
  margin-block: 80px;
  padding: 80px 96px;
  box-shadow: 0px -1px 13px 4px rgba(17, 17, 26, 0.07);
}
@media (max-width: 768px) {
  .news {
    padding: 80px 24px 64px;
  }
}
.news h2 span {
  background-color: #F9F7F0;
}
.news ul {
  margin-top: 80px;
}
.news ul li {
  border-top: 1px solid #585858;
  padding: 24px;
  font-size: 16px;
}
.news ul li:last-child {
  border-bottom: 1px solid #585858;
}
.news ul li p {
  padding-bottom: 16px;
}
.news ul li p span {
  background-color: #D9D9D9;
  color: #3D3D3D;
  margin-left: 8px;
  display: inline-block;
  padding: 4px;
}
.news ul li a:hover {
  color: #e49d3b;
}

main .facility-name {
  font-size: 16px;
  padding-block: 144px 42px;
  padding-inline: 20px;
}
main .facility-name span {
  font-size: 32px;
  padding-left: 16px;
}
main .introduction-box {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
@media (max-width: 960px) {
  main .introduction-box {
    flex-direction: column;
  }
}
main .introduction-box .facility-img {
  box-shadow: 0px 0px 20px 10px rgba(17, 17, 26, 0.18);
  width: 300px;
  height: 300px;
}
@media (max-width: 960px) {
  main .introduction-box .facility-img {
    width: 60%;
    margin-inline: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  main .introduction-box .facility-img {
    width: 80%;
  }
}
main .introduction-box .facility-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .introduction-box dl {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/家族背景.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60%;
}
@media (max-width: 960px) {
  main .introduction-box dl {
    width: 60%;
    margin-inline: auto;
    flex-direction: column;
  }
}
main .introduction-box dl dt {
  width: 20%;
}
@media (max-width: 960px) {
  main .introduction-box dl dt {
    width: 100%;
    font-weight: bold;
  }
}
main .introduction-box dl dd {
  width: 80%;
}
@media (max-width: 960px) {
  main .introduction-box dl dd {
    width: 100%;
    padding-bottom: 10px;
  }
}
main .back {
  display: block;
  text-align: center;
  font-size: 24px;
  position: relative;
  padding-bottom: 8px;
  margin-block: 80px;
}
main .back::after {
  content: "";
  height: 2px;
  width: 104px;
  background-color: #3D3D3D;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
}
main .back:hover::after {
  opacity: 1;
}

.news-page {
  background-color: #F9F7F0;
  padding-block: 120px 8px;
}
.news-page .news-container {
  max-width: 880px;
  margin-inline: auto;
  background-color: white;
  padding-block: 32px;
  padding-inline: 3%;
}
.news-page .news-container .news-titles {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3D3D3D;
  align-items: baseline;
}
@media (max-width: 768px) {
  .news-page .news-container .news-titles {
    flex-direction: column;
  }
}
.news-page .news-container .news-content {
  margin-block: 56px;
  display: block;
  margin-inline: auto;
  width: 80%;
  height: auto;
}
.news-page .news-container .news-content .news-text {
  padding-top: 24px;
}

.contact {
  padding-block: 120px 80px;
  background-color: #F9F7F0;
}
@media (max-width: 768px) {
  .contact {
    padding-block: 120px 5px;
  }
}
.contact h2 {
  text-align: center;
  font-size: 32px;
}
@media (max-width: 960px) {
  .contact h2 {
    font-size: 24px;
  }
}
.contact .contact-tel {
  display: block;
  width: 80%;
  background-color: #EDD8B8;
  border-radius: 40px;
  text-align: center;
  font-size: 24px;
  padding: 16px 32px;
  margin-top: 40px;
  margin-inline: auto;
  box-shadow: 0px -1px 13px 4px rgba(17, 17, 26, 0.07);
  transition: all 0.5s;
}
.contact .contact-tel:hover {
  opacity: 0.7;
}
@media (max-width: 960px) {
  .contact .contact-tel {
    font-size: 20px;
    padding: 16px;
  }
}
.contact .contact-tel span {
  font-size: 16px;
  display: block;
}
.contact .contact-tel-pc {
  display: block;
}
@media (max-width: 960px) {
  .contact .contact-tel-pc {
    display: none;
  }
}
.contact .contact-tel-tab {
  display: none;
}
@media (max-width: 960px) {
  .contact .contact-tel-tab {
    display: block;
  }
}
.contact .contact-form {
  background-color: white;
  max-width: 880px;
  padding: 80px;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .contact .contact-form {
    padding: 10% 4%;
  }
}
.contact .contact-form h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 40px;
}
@media (max-width: 960px) {
  .contact .contact-form h2 {
    font-size: 24px;
  }
}
.contact .contact-form form {
  width: 80%;
  margin-inline: auto;
}
.contact .contact-form form dl dt {
  margin-bottom: 8px;
  font-size: 16px;
}
.contact .contact-form form dl dd {
  margin-bottom: 24px;
}
.contact .contact-form form dl dd input {
  display: inline-block;
  width: 50%;
  border: 1px solid #3D3D3D;
}
@media (max-width: 960px) {
  .contact .contact-form form dl dd input {
    width: 100%;
  }
}
.contact .contact-form form dl dd textarea {
  display: inline-block;
  width: 100%;
  height: 80px;
  border: 1px solid #3D3D3D;
}
.contact .contact-form form .submit {
  display: block;
  text-align: center;
  font-size: 16px;
  padding-block: 16px;
  width: 150px;
  background-color: #EDD8B8;
  border-radius: 40px;
  margin-inline: auto;
  box-shadow: 0px -1px 13px 4px rgba(17, 17, 26, 0.07);
  transition: all 0.5s;
}
.contact .contact-form form .submit:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */