.news-page{
    background-color: #F9F7F0;
    padding-block:120px 8px; 
    .news-container{
        max-width:880px;
        margin-inline:auto;
        background-color: white;
        padding-block:32px;
        padding-inline:3%;
        .news-titles{
            display:flex;
            justify-content: space-between;
            border-bottom:1px solid #3D3D3D;
            align-items:baseline;
        }
        .news-content{
            margin-block:56px;
            display:block;
            margin-inline:auto;
            width:80%;
            height:auto;
            .news-text{
                padding-top:24px;
            }
        }
        

    }
}