@use 'mixin' as m;
// news
.news {
    background-color: #F9F7F0;
    margin-block: 80px;
    padding: 80px 96px;
    
    box-shadow: 0px -1px 13px 4px rgba(17, 17, 26, 0.07);
    @include m.sp{
        padding:80px 24px 64px;
    }

    h2 {
        span {
            background-color: #F9F7F0;
        }
    }

    ul {
        margin-top: 80px;

        li {
            border-top: 1px solid #585858;
            padding: 24px;
            font-size: 16px;

            &:last-child {
                border-bottom: 1px solid #585858;
            }

            p {
                padding-bottom: 16px;

                span {
                    background-color: #D9D9D9;
                    color: #3D3D3D;
                    margin-left: 8px;
                    display: inline-block;
                    padding: 4px;
                }
            }

            a {
                &:hover {
                    color: #e49d3b;
                }
            }
        }
    }
}


